h1{
    font-family: 'Poppins', sans-serif;
    font-size: 50px;
}

h2{
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
}

p{
    font-family: 'Poppins', sans-serif;
}

.studio-h1{
    font-family: 'Poppins', sans-serif;
    font-size: 50px;
    color: #9C414F;
}

body{
    background-color: #F7E3DE;
}

button{
    margin: 2%;
    color: white;
    background-color: #B04958;
    border: 0px;
    border-radius: 4px;
    font-family: 'Poppins', sans-serif;
    font-size: larger;
    transition-duration: 0.4s;
    padding: 10px;
    width: 8%;
}

button:hover{
    background-color: #9C414F;
}

.homeButton{
    margin: 2%;
    color: white;
    background-color: #B04958;
    border: 0px;
    border-radius: 4px;
    font-family: 'Poppins', sans-serif;
    font-size: larger;
    padding: 10px;
    transition-duration: 0.4s;
    width: 30%;
    height: 20%;
}

input, select{
    border: 1px solid #ccc;
    border-radius: 4px;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    margin: 1;
    font-size: medium;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
}

.hotbar-left{
    float: left;
}

.hotbar-right{
    float: right;
}

li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
li a:hover {
    background-color: #111;
}

.container{
    width: 200px;
    background-color: #ddd;
}

.exp{
    text-align: left;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: 'Poppins', sans-serif;
    color: #CC353B;
    width: 66%;
    background-color: #CC353B;
}

.flex-container{
    display: flex;
    justify-content: center;
}

.edit{
    cursor: pointer;
}

.newGameButton{
    margin: 2%;
    color: white;
    background-color: #333333;
    border: 0px;
    border-radius: 4px;
    font-family: 'Poppins', sans-serif;
    font-size: larger;
    padding: 10px;
    transition-duration: 0.4s;
    width: 30%;
    height: 20%;
}

.newGameButton:hover{
    background-color: #1a1a1a;
}

.card{
    border: 3px solid #9C414F;
    background-color: #9C414F;
    width: 30%;
    text-align: center;
    position: absolute;
    top: 20%;
    left: 20%;
    border-radius: 5%;
    color: white;
    transition-duration: 0.4s;
}

.card-container{
    background-color: lightgray;
    padding: 2px 16px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-bottom-left-radius: 5%;
    border-bottom-right-radius: 5%;
}

.schedule{
    background-color: #333333;
    width: 15%;
    position: absolute;
    top: 18%;
    right: 25%;
    border-radius: 5%;
    transition-duration: 0.4s;
    text-align: center;
    color: white;
}

.status{
    background-color: #333333;
    width: 15%;
    position: absolute;
    bottom: 12%;
    right: 25%;
    border-radius: 5%;
    transition-duration: 0.4s;
    justify-content: center;
    text-align: center;
    color: white;
}

table{
    margin: 1%;
}

th{
    background-color: gray;
    text-align: center;
    padding: 10px;
    font-family: 'Poppins', sans-serif;
    font-size: larger;
    color: white;
  }
  
td{
  border:1px solid black;
  border-radius: 4px;
  text-align: center;
  padding: 10px;
  font-family: 'Poppins', sans-serif;
  font-size: larger;
}

.scheduleForm{
    position: absolute;
    top: 30%;
    right: 15%;
    text-align: center;
}

.submitButton{
    width: 50%;
}

.back{
    cursor: pointer;
    position: absolute;
    left: 3%;
    bottom: 5%
}

.status-container{
    border: 3px solid #9C414F;
    background-color: lightgray;
    width: 40%;
    text-align: center;
    position: absolute;
    top: 20%;
    left: 15%;
    border-radius: 5%;
    color: white;
    transition-duration: 0.4s;
}

.status-container-2{
    background-color: #9C414F;
    padding: 2px 16px;
}

.post{
    border-bottom: 3px solid #9C414F;
    width: 100%;
    color: #1a1a1a;
    text-align: left;
    display: flex;
}

.break {
    flex-basis: 100%;
    height: 0;
}

.form-popup {
    display: none;
    position: fixed;
    bottom: 20%;
    right: 15%;
    border: 3px solid #9C414F;
    z-index: 9;
  }

.form-container{
    max-width: 1000px;
    padding: 10px;
    background-color: lightgray;
}