h1{
    font-family: 'Poppins', sans-serif;
    font-size: 50px;
}
body{
    background-color: #F7E3DE;
}

button{
    margin: 2%;
    color: white;
    background-color: #B04958;
    border: 0px;
    border-radius: 4px;
    font-family: 'Poppins', sans-serif;
    font-size: larger;
    transition-duration: 0.4s;
    padding: 10px;
    width: 8%;
}

button:hover{
    background-color: #9C414F;
}

input, select{
    border: 1px solid #ccc;
    border-radius: 4px;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    margin: 1;
    font-size: medium;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.hotbar-left{
    float: left;
}

.hotbar-right{
    float: right;
}

li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 14px;
    text-decoration: none;
}
  
  li a:hover {
    background-color: #111;
}


